<a href="https://colab.research.google.com/github/MridulaRPanicker/ICT_Python_Assignments/blob/main/CaseStudy_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Numpy Problems**

# 1. Basic Array Operation
 Convert the mpg column into a NumPy array and calculate:

○ The mean, median, and standard deviation of mpg.

○ The number of cars with mpg greater than 25.

In [176]:
import numpy as np # importing numpy as np to use.

In [177]:
# loading the entire auto-mpg csv file data into a Structured Array using np.genfromtxt

auto_mpg = np.genfromtxt('/content/drive/MyDrive/ICT_DSA_Course_Programs/Data_toWork/auto-mpg.csv',\
                         delimiter=',',dtype=None, names=True,encoding='utf-8')
#print(auto_mpg.ndim)

In [178]:
# The mean, median, and standard deviation of mpg.

mean_mpg = np.round(np.mean(auto_mpg['mpg']),2) # Gives the mean mpg value
median_mpg = np.round(np.median(auto_mpg['mpg']),2) # Gives the median mpg value
stdev_mpg = np.round(np.std(auto_mpg['mpg']),2) # Gives the std deviation mpg value

print(f"The Mean mpg of cars = {mean_mpg}\
\nThe Meadian mpg of cars = {median_mpg}\
\nThe Standard Deviation mpg of cars = {stdev_mpg}")

The Mean mpg of cars = 23.51
The Meadian mpg of cars = 23.0
The Standard Deviation mpg of cars = 7.81

In [179]:
# The number of cars with mpg greater than 25.

count_mpg = np.count_nonzero(auto_mpg['mpg']>25)
print(f"Number of cars with mpg more than 25 = {count_mpg}")

Number of cars with mpg more than 25 = 158

#2. Filtering
Using NumPy, filter all cars with more than 6 cylinders.

Return the corresponding car_name as a list.

In [180]:
# filtering of cars based on muber of cylinders
# picking the car name based on the conditions satisfied

sixPlus_cylinder = auto_mpg[auto_mpg['cylinders']>6]['car_name']

# while printing converted the ndArray to a list
# printed only the 1st 5 filtered car names in the form of a column

print(*sixPlus_cylinder.tolist()[:5],sep='\n')

chevrolet chevelle malibu
buick skylark 320
plymouth satellite
amc rebel sst
ford torino

#3. Statistical Analysis

Compute the 25th, 50th, and 75th percentiles of the weight column using NumPy.

In [181]:
# Calculated the percentile and saved it in variables
p25,p50,p75 = np.percentile(auto_mpg['weight'],[25,50,75])

print(f"25th Percentile of Weight = {p25}\
        \n50th Percentile of Weight = {p50}\
        \n75th Percentile of Weight = {p75}")

25th Percentile of Weight = 2223.75
50th Percentile of Weight = 2803.5
75th Percentile of Weight = 3608.0

#4. Array Manipulation
Convert the acceleration column into a NumPy array and normalize its values (scale between 0 and 1).

In [182]:
auto_acceleration = auto_mpg['acceleration'] # Got variable Acceleration to an array

# Normalised each datapoint in the accelation between 0 & 1 using the formula
# (datapoint-min(acceleration))/(max(acceleration)-min(acceleration))

normalised_accel = np.round((auto_acceleration-np.min(auto_acceleration))/np.ptp(auto_acceleration),2)

# Printed 1st 5 normalised datapoints as a sample in a column format
print(*normalised_accel[:5],sep = '\n')

0.24
0.21
0.18
0.24
0.15

#5. Broadcasting
Increase all horsepower values by 10% and store the updated values in a new NumPy array. Handle missing data (if any) by replacing it with the mean of the column before applying the increase.

In [183]:
horsepower_clean = auto_mpg['horsepower'] # Got the horsepower to an array

# identified '?' as missing values and replaced it with
# python understandable string 'nan'
horsepower_clean[horsepower_clean == '?'] = 'nan'

# Converted all the values in the array to float datatype
auto_horsepower = np.array(horsepower_clean, dtype=float)

# Calculated mean horse power value
mean_horsepower = np.nanmean(auto_horsepower)

# Replaced all 'nan' with mean value
auto_horsepower[np.isnan(auto_horsepower)] = mean_horsepower
print(auto_horsepower[:5]) #printed sample 5 values from original horsepower array

# Increased horsepower values by 10%
horsepower_increased = auto_horsepower * 1.1
print(horsepower_increased[:5]) #printed sample 5 values from increased horsepower array

[130. 165. 150. 150. 140.]
[143.  181.5 165.  165.  154. ]

#6. Boolean Indexing
Find the average displacement of cars with an origin of 2 (Europe) using NumPy indexing.

In [184]:
# Identified displacements of all the cars with Origin = 2 and stored it in an array
origin2 = auto_mpg[auto_mpg['origin']==2]['displacement']

# Calculated the mean and printed it with 2 decimal points
print(np.round(np.mean(origin2),2))

109.14

#7. Matrix Operations
Create a 2D NumPy array containing the columns mpg, horsepower, and weight. Compute the dot product of this matrix with a given vector [1, 0.5, -0.2].

In [185]:
# Read the csv file as a 2D array

auto_mpg_2D = np.genfromtxt('/content/drive/MyDrive/ICT_DSA_Course_Programs/Data_toWork/auto-mpg.csv',\
                            delimiter=',',dtype=float,skip_header=1,filling_values='nan' ,encoding='utf-8')

# Created a new 2D array with mpg,horsepower and weight
# Got a 398 x 3 matrix
mpg_hp_weight = auto_mpg_2D[:,[0,3,4]]

# Stored given vector in a variable as a list
vec_given = [1,0.5,-0.2]

# Performed dot product using matrix and vector
# Resulted in a 1D array with 398 rows
dotproduct = np.round(mpg_hp_weight @ vec_given,2)

# Printed the first 5 rows as a sample in a column form
print(*dotproduct[:5],sep='\n')

-617.8
-641.1
-594.2
-595.6
-602.8

#8. Sorting
Use NumPy to sort the cars by model_year in descending order and display the first five car names.

In [186]:
# created a new sorted array with model year in descending order
desc_sorted = np.sort(auto_mpg, order='model_year')[::-1]

# printed the first 5 car names which comes on top
print(*desc_sorted['car_name'][:5],sep='\n')

vw pickup
oldsmobile cutlass ciera (diesel)
plymouth horizon miser
datsun 310 gx
honda civic

#9. Correlation
Compute the Pearson correlation coefficient between mpg and weight using NumPy.

In [187]:
# used np.corrcoef to calculate the correlation matrix
corr_mpg_weight = np.corrcoef(auto_mpg['mpg'],auto_mpg['weight'])

# Accessed the coefficient value from the matrix and printed it
pear_corr_coeff = corr_mpg_weight[0,1]
print(f"The Pearson Correlation Coefficient between \
mpg and weight = {pear_corr_coeff}")

The Pearson Correlation Coefficient between mpg and weight = -0.8317409332443352

#10. Conditional Aggregates
Calculate the mean mpg for cars grouped by the number of cylinders using NumPy techniques.

In [188]:
# Identify unique cylinders and their mapping with all the other values
#return_inverse gives an array of indices to build the original array later
unique_cylinders, inverse = np.unique(auto_mpg['cylinders'],return_inverse=True)

# converted the unique cylinders to a list for final o/p printing
unique_cyl_list = unique_cylinders.tolist()

# used np.bincount along with weights helps to get the sum of mpg based on each cylinder bins
mpg_sums = np.bincount(inverse, weights=auto_mpg['mpg'])
#counted the number of values in each bin
mpg_count = np.bincount(inverse)

# calculated mean using the sum & count then converted it into a list
mean_mpg_cyl = np.round(mpg_sums/mpg_count,2)
mean_tolist = mean_mpg_cyl.tolist()

final = dict(zip(unique_cyl_list,mean_tolist))
print(final)

{3: 20.55, 4: 29.29, 5: 27.37, 6: 19.99, 8: 14.96}

#**Pandas Problems**

#1. Basic Exploration
Load the dataset into a Pandas DataFrame. Display:

○ The first 10 rows

○ The total number of rows and columns

○ Summary statistics for numerical columns

In [189]:
import pandas as pd  # importing pandas library as pd for further use

pd.set_option('expand_frame_repr',False) # to display the entire row in one line withput wrapping
pd.set_option('display.max_columns', None)

In [190]:
# Provided the file path to a variable
csv_filepath = '/content/drive/MyDrive/ICT_DSA_Course_Programs/Data_toWork/auto-mpg.csv'


# Read the csv file as a DataFrame using pandas function read_csv
df = pd.read_csv(csv_filepath,na_values=['?'])

# Display first 10 rows of the DataFrame
print(df.head(10))

    mpg  cylinders  displacement  horsepower  weight  acceleration  model year  origin                   car name
0  18.0          8         307.0       130.0    3504          12.0          70       1  chevrolet chevelle malibu
1  15.0          8         350.0       165.0    3693          11.5          70       1          buick skylark 320
2  18.0          8         318.0       150.0    3436          11.0          70       1         plymouth satellite
3  16.0          8         304.0       150.0    3433          12.0          70       1              amc rebel sst
4  17.0          8         302.0       140.0    3449          10.5          70       1                ford torino
5  15.0          8         429.0       198.0    4341          10.0          70       1           ford galaxie 500
6  14.0          8         454.0       220.0    4354           9.0          70       1           chevrolet impala
7  14.0          8         440.0       215.0    4312           8.5          70       1          plymouth fury iii
8  14.0          8         455.0       225.0    4425          10.0          70       1           pontiac catalina
9  15.0          8         390.0       190.0    3850           8.5          70       1         amc ambassador dpl

In [191]:
# Total number of rows and columns

# df.shape returns a tuple with rows at 0th place and columns at 1st place
total_rows = df.shape[0]
total_columns = df.shape[1]

print(f"Total rows = {total_rows} \nTotal columns = {total_columns}")

Total rows = 398
Total columns = 9

In [192]:
# Summary statistics of all the numerical columns

summary = df.describe()
print(summary)

              mpg   cylinders  displacement  horsepower       weight  acceleration  model year      origin
count  398.000000  398.000000    398.000000  392.000000   398.000000    398.000000  398.000000  398.000000
mean    23.514573    5.454774    193.425879  104.469388  2970.424623     15.568090   76.010050    1.572864
std      7.815984    1.701004    104.269838   38.491160   846.841774      2.757689    3.697627    0.802055
min      9.000000    3.000000     68.000000   46.000000  1613.000000      8.000000   70.000000    1.000000
25%     17.500000    4.000000    104.250000   75.000000  2223.750000     13.825000   73.000000    1.000000
50%     23.000000    4.000000    148.500000   93.500000  2803.500000     15.500000   76.000000    1.000000
75%     29.000000    8.000000    262.000000  126.000000  3608.000000     17.175000   79.000000    2.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000     24.800000   82.000000    3.000000

#2. Filtering and Indexing
Find all cars manufactured in 1975 with a weight less than 3000.

Return the DataFrame with selected columns: car_name, weight, and mpg.

In [193]:
# Filtered all the records based on condition and selected required columns only
df_conditions = df.loc[(df['model year']==75) & (df['weight']<3000),['car name','weight','mpg']]

print(df_conditions)

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

#3. Handling Missing Data
Identify if there are any missing values in the dataset.

Replace missing values in the horsepower column with the column's median.

In [194]:
# loaded the dataframe with nan values instead of missing elements
# used pandas isna()function to identify missing values
# used sum() to sum it up column wise and displayed the result

df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [195]:
# Replaced horsepower missing values with column median
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median())

# no more missing values in any column
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

#4. Data Transformation
Add a new column power_to_weight_ratio, calculated as horsepower / weight.

In [196]:
# Element wise mathematical operation between two columns and result assigned to
# a new column
df['power_to_weight_ratio'] = df['horsepower']/df['weight']

print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  model year  origin                   car name  power_to_weight_ratio
0  18.0          8         307.0       130.0    3504          12.0          70       1  chevrolet chevelle malibu               0.037100
1  15.0          8         350.0       165.0    3693          11.5          70       1          buick skylark 320               0.044679
2  18.0          8         318.0       150.0    3436          11.0          70       1         plymouth satellite               0.043655
3  16.0          8         304.0       150.0    3433          12.0          70       1              amc rebel sst               0.043694
4  17.0          8         302.0       140.0    3449          10.5          70       1                ford torino               0.040591

#5. Group By
Group the cars by origin and calculate the mean mpg for each group.

In [197]:
# Initially Grouped by 'Origin'
# Calculated mean of mpg. Used aggregate method to do named aggregation
# round(2) to round resulting mean and then provided index for newly created groupby dataframe

groupby_cars = (df.groupby('origin').agg(Average_mpg=('mpg','mean')).round(2).reset_index())

print(groupby_cars)

   origin  Average_mpg
0       1        20.08
1       2        27.89
2       3        30.45

#6. Sorting
Sort the DataFrame by mpg in descending order and display the top 10 cars with the highest mpg.

In [198]:
# sort_values sorts the DataFrame by mpg in descending
# Then picked top 10 rows from car name column

sort_mpg_top10 = df.sort_values(by='mpg',ascending=False)['car name'].head(10)
print(sort_mpg_top10)

322                          mazda glc
329                honda civic 1500 gl
325               vw rabbit c (diesel)
394                          vw pickup
326                 vw dasher (diesel)
244    volkswagen rabbit custom diesel
309                          vw rabbit
330               renault lecar deluxe
324                         datsun 210
247                     datsun b210 gx
Name: car name, dtype: object

#Apply Function
Create a new column performance_score using a custom function:

def performance_score(row):
return row['mpg'] * row['acceleration'] / row['weight']

In [199]:
def performance_score(row):
  return row['mpg'] * row['acceleration'] / row['weight']

###7. Apply this function to each row and store the result in the new column.

In [200]:
# applied function in each row
# axis=1 tells pandas to pass each row as a series, otherwise by default
# apply works on columns

df['performance_score'] = df.apply(performance_score,axis=1)
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  model year  origin                   car name  power_to_weight_ratio  performance_score
0  18.0          8         307.0       130.0    3504          12.0          70       1  chevrolet chevelle malibu               0.037100           0.061644
1  15.0          8         350.0       165.0    3693          11.5          70       1          buick skylark 320               0.044679           0.046710
2  18.0          8         318.0       150.0    3436          11.0          70       1         plymouth satellite               0.043655           0.057625
3  16.0          8         304.0       150.0    3433          12.0          70       1              amc rebel sst               0.043694           0.055928
4  17.0          8         302.0       140.0    3449          10.5          70       1                ford torino               0.040591           0.051754

#8. Visualization Preparation
Generate a summary DataFrame with:

○ Average mpg, weight, and horsepower for each model_year.

In [201]:
summary_mpg_weight_hp = df.groupby('model year').agg(Average_mpg = ('mpg','mean'),\
                                                     Average_weight = ('weight','mean'),\
                                                     Average_hp = ('horsepower','mean')
).round(2).reset_index()
print(summary_mpg_weight_hp)

    model year  Average_mpg  Average_weight  Average_hp
0           70        17.69         3372.79      147.83
1           71        21.25         2995.43      106.55
2           72        18.71         3237.71      120.18
3           73        17.10         3419.02      130.48
4           74        22.70         2877.93       94.20
5           75        20.27         3176.80      101.07
6           76        21.57         3078.74      101.12
7           77        23.38         2997.36      105.07
8           78        24.06         2861.81       99.69
9           79        25.09         3055.34      101.21
10          80        33.70         2436.66       78.59
11          81        30.33         2522.93       81.47
12          82        31.71         2453.55       81.85

#9. Exporting Data
Save a subset of the data containing only mpg, cylinders, horsepower, and weight for cars with mpg > 30 into a CSV file named high_mpg_cars.csv.

In [202]:
# created a new DataFrame with specific columns meeting the mpg>30 condition
high_mpg_cars = df.loc[df['mpg']>30,['mpg','cylinders','horsepower','weight']]

# stored the output DataFrame as a csv file in the path specified
# Kept index=False to avoid making a new column with index numbers
high_mpg_cars.to_csv('/content/drive/MyDrive/ICT_DSA_Course_Programs/Data_toWork/high_mpg_cars.csv',index=False)

#print(high_mpg_cars.head())

#10. Finding Anomalies
Identify potential outliers in the mpg column using the Interquartile Range (IQR) method. Specifically:

● Calculate the IQR for mpg.

● Define outliers as values less than Q1 - 1.5 * IQR or greater than Q3 + 1.5 * IQR.

● Create a DataFrame of cars classified as outliers, displaying car_name, mpg, and model_year.

In [203]:
# Calculated Q1 & Q3 using pandas quantile method
Q1 = df['mpg'].quantile(0.25)
Q3 = df['mpg'].quantile(0.75)

# calculated IQR and printed the result
IQR = Q3-Q1
print(f"IQR of mpg = {IQR}")

IQR of mpg = 11.5

In [204]:
# identified lower and upper threashold points
# beyond this the datapoints will be trated as outliers
lower_outlier = Q1 -1.5 * IQR
upper_outlier = Q3 + 1.5 * IQR

print(f"Lower Threashold value = {lower_outlier}\
\nUpper Threashold value = {upper_outlier}")

Lower Threashold value = 0.25
Upper Threashold value = 46.25

In [205]:
# identified outlier rows based on lower and upper threashold
outlier_df = df[(df['mpg']<lower_outlier) | (df['mpg']>upper_outlier)]

#printed specif columns from the outlier DataFrame
print(outlier_df[['car name','mpg','model year']])

      car name   mpg  model year
322  mazda glc  46.6          80